<% title "Products" %>

<table class="pretty">
  <tr>
    <th><%= link_to "Name", :sort => "name" %></th>
    <th><%= link_to "Price", :sort => "price" %></th>
    <th><%= link_to "Released", :sort => "released_at" %></th>
  </tr>
  <% for product in @products %>
    <tr>
      <td><%= product.name %></td>
      <td class="price"><%= number_to_currency(product.price) %></td>
      <td><%= product.released_at.strftime("%B %e, %Y") %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Product", new_product_path %></p>
